#!/usr/bin/make -f
%:
	aclocal
	automake --gnu --add-missing
	autoconf
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info 
	dh_python3 usr/local/share/gpvdm/
	dh $@ --parallel --with python3

